body {
	
	--body-bg-transparent: transparent;
	
	align-items: flex-end;
	background: var(--body-bg-transparent, var(--bg-transparent));
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	padding: 2rem;
	
}
body.f1, .f1 #app { align-items: flex-end; justify-content: flex-start; }
body.f2, .f2 #app { align-items: flex-end; justify-content: center; }
body.f3, .f3 #app { align-items: flex-end; justify-content: flex-end; }
body.f4, .f4 #app { align-items: center; justify-content: flex-start; }
body.f5, .f5 #app { align-items: center; justify-content: center; }
body.f6, .f6 #app { align-items: center; justify-content: flex-end; }
body.f7, .f7 #app { align-items: flex-start; justify-content: flex-start; }
body.f8, .f8 #app { align-items: flex-start; justify-content: center; }
body.f9, .f9 #app { align-items: flex-start; justify-content: flex-end; }

#app {
	
	display: flex;
	height: 100%;
	
}

#frame {
	
	--last-h: calc(var(--last-height) * (var(--image-seq-target-raw-rect-height-0) / var(--last-raw-height)) * var(--last-correction));
	--last-w: calc(var(--last-width) * (var(--image-seq-target-raw-rect-height-0) / var(--last-raw-height)) * var(--last-correction));
	--h: calc(var(--height) * (var(--image-seq-target-raw-rect-height-0) / var(--raw-height)) * var(--correction));
	--w: calc(var(--width) * (var(--image-seq-target-raw-rect-height-0) / var(--raw-height)) * var(--correction));
	
	--border-color: rgba(216,216,216,1);
	
	border-radius: 2rem;
	box-shadow: 0 0 0rem 1px rgba(216,216,216,1), 0 0 0rem 2px rgba(80,80,80,1), 0 0 2rem .2rem var(--border-color);
	background: var(--bgi) right bottom/contain no-repeat;
	display: block;
	height: var(--h);
	width: var(--w);
	
}
.initialized #frame {
	animation: transition var(--a-duration) ease-out 0s infinite normal forwards running;
}
#screen {
	
}
@keyframes transition {
	0% {
		height: var(--last-h);
		width: var(--last-w);
	}
	4% {
		height: var(--h);
		width: var(--w);
	}
	100% {
		height: var(--h);
		width: var(--w);
	}
}
@keyframes interval { from {} to {} }

#text {
	align-items: flex-end;
	display: flex;
	font: normal normal 1000 3rem/1 "Arial", "メイリオ", sans-serif;
	height: 100%;
	letter-spacing: -1px;
	flex-direction: column;
	justify-content: flex-end;
	padding: .5rem;
	text-shadow: 0 0 2rem rgba(0,0,0,1), 0 2px 0 rgba(0,0,0,1);
	white-space: nowrap;
}
.f1 #text { align-items: flex-start; justify-content: flex-end; }
.f2 #text { align-items: center; justify-content: flex-end; }
.f3 #text { align-items: flex-end; justify-content: flex-end; }
.f4 #text { align-items: flex-start; justify-content: flex-end; }
.f5 #text { align-items: center; justify-content: flex-end; }
.f6 #text { align-items: flex-end; justify-content: flex-end; }
.f7 #text { align-items: flex-start; justify-content: flex-end; }
.f8 #text { align-items: center; justify-content: flex-end; }
.f9 #text { align-items: flex-end; justify-content: flex-end; }

#text[data-text-a]::before {
	
	content: attr(data-text-a);
	margin-bottom: 1rem;
	z-index: 2;
	
}
#text[data-text-b]::after {
	
	content: attr(data-text-b);
	font-size: 2rem;
	z-index: 1;
	
}