body {
	
	--body-bg-transparent: transparent;
	
	align-items: flex-end;
	background: var(--body-bg-transparent, var(--bg-transparent));
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	padding: 2rem;
	
}
body.f1, .f1 #app { --bg-pos: left bottom; align-items: flex-end; justify-content: flex-start; }
body.f2, .f2 #app { --bg-pos: center bottom; align-items: flex-end; justify-content: center; }
body.f3, .f3 #app { --bg-pos: right bottom; align-items: flex-end; justify-content: flex-end; }
body.f4, .f4 #app { --bg-pos: left center; align-items: center; justify-content: flex-start; }
body.f5, .f5 #app { --bg-pos: center center; align-items: center; justify-content: center; }
body.f6, .f6 #app { --bg-pos: right center; align-items: center; justify-content: flex-end; }
body.f7, .f7 #app { --bg-pos: left top; align-items: flex-start; justify-content: flex-start; }
body.f8, .f8 #app { --bg-pos: center top; align-items: flex-start; justify-content: center; }
body.f9, .f9 #app { --bg-pos: right top; align-items: flex-start; justify-content: flex-end; }

#app {
	
	display: flex;
	height: 100%;
	
}

#frame {
	
	--last-h: calc(var(--last-height) * (var(--image-seq-target-raw-rect-height-0) / var(--last-raw-height)) * var(--last-correction));
	--last-w: calc(var(--last-width) * (var(--image-seq-target-raw-rect-height-0) / var(--last-raw-height)) * var(--last-correction));
	--h: calc(var(--height) * (var(--image-seq-target-raw-rect-height-0) / var(--raw-height)) * var(--correction));
	--w: calc(var(--width) * (var(--image-seq-target-raw-rect-height-0) / var(--raw-height)) * var(--correction));
	
	--border-color: rgba(216,216,216,1);
	
	background: none,
					var(--bgi) var(--bg-pos)/contain no-repeat;
	border-radius: 2rem;
	box-shadow: 0 0 0rem 1px rgba(216,216,216,1), 0 0 0rem 2px rgba(80,80,80,1), 0 0 2rem .2rem var(--border-color);
	display: block;
	height: var(--h);
	width: var(--w);
	
	animation: 
	
}
.initialized #frame {
	
	--bgi-reflect-color-0: transparent;
	--bgi-reflect: linear-gradient(175deg, var(--bgi-reflect-color-0) 20%, rgba(255,255,255,calc(3/4)) 22.5%, rgba(255,255,255,0) 75%, var(--bgi-reflect-color-0));
	--bgi-reflect-height: 400;
	--bgi-reflect-size: 100% calc(var(--bgi-reflect-height) * 1%);
	--bgi-reflect-pos-y: calc(-100 / (var(--bgi-reflect-height) - 100) * 100%);
	--bgi-reflect-pos-0: 0% var(--bgi-reflect-pos-y);
	--bgi-reflect-pos-1: 0% calc(var(--bgi-reflect-pos-y) * -1 + 100%);
	
	animation:	transition var(--a-duration) ease-out 0s infinite normal forwards running,
					frame-bg var(--a-duration) ease-in 0s infinite normal forwards running;
	
}
#screen {
	
}
@keyframes transition {
	0% {
		height: var(--last-h);
		width: var(--last-w);
	}
	4% {
		height: var(--h);
		width: var(--w);
	}
	100% {
		height: var(--h);
		width: var(--w);
	}
}
@keyframes frame-bg {
	0% { background: none, var(--bgi) var(--bg-pos)/contain no-repeat; }
	0.1% {
		background: var(--bgi-reflect) var(--bgi-reflect-pos-0)/var(--bgi-reflect-size) no-repeat,
						var(--bgi) var(--bg-pos)/contain no-repeat;
	}
	20% {
		background: var(--bgi-reflect) var(--bgi-reflect-pos-1)/var(--bgi-reflect-size) no-repeat,
						var(--bgi) var(--bg-pos)/contain no-repeat;
	}
	20.1% { background: none, var(--bgi) var(--bg-pos)/contain no-repeat; }
	100% { background: none, var(--bgi) var(--bg-pos)/contain no-repeat; }
}

#text {
	align-items: flex-end;
	display: flex;
	font: normal normal 1000 3rem/1 "Arial", "メイリオ", sans-serif;
	height: 100%;
	letter-spacing: -1px;
	flex-direction: column;
	justify-content: flex-end;
	padding: .5rem;
	text-shadow: 0 0 2rem rgba(0,0,0,1), 0 2px 0 rgba(0,0,0,1);
	white-space: nowrap;
}
.f1 #text { align-items: flex-start; justify-content: flex-end; }
.f2 #text { align-items: center; justify-content: flex-end; }
.f3 #text { align-items: flex-end; justify-content: flex-end; }
.f4 #text { align-items: flex-start; justify-content: flex-end; }
.f5 #text { align-items: center; justify-content: flex-end; }
.f6 #text { align-items: flex-end; justify-content: flex-end; }
.f7 #text { align-items: flex-start; justify-content: flex-end; }
.f8 #text { align-items: center; justify-content: flex-end; }
.f9 #text { align-items: flex-end; justify-content: flex-end; }

#text[data-text-a]::before {
	
	content: attr(data-text-a);
	margin-bottom: 1rem;
	z-index: 2;
	
}
#text[data-text-b]::after {
	
	content: attr(data-text-b);
	font-size: 2rem;
	z-index: 1;
	
}