:root {
	
	--app-height: 450px;
	--app-width: 800px;
	
}
body {
	
	background-color: transparent;
	box-sizing: border-box;
	padding: 1rem;
	
}

#app {
	
	--app-bg-transparent: transparent;
	
	background: var(--body-bg-transparent, var(--app-bg-transparent));
	box-shadow: .4rem .4rem .8rem 0rem rgba(0,0,0,.3);
	border: 1px solid rgba(0,0,0,1);
	border-radius: 1rem;
	height: var(--app-height);
	overflow: hidden;
	position: relative;
	width: var(--app-width);
	z-index: -2;
	
}

#frame, #screen {
	
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	
}

#frame {
	
	animation: var(--current-anime, var(--current-anime-name) var(--app-anime-default-behavior));
	
}

#screen {
	
	--w: var(--image-seq-max-width-scaled);
	
	--a-main: main calc(var(--a-duration) * var(--image-seq-total-length)) steps(var(--image-seq-total-length), end) 0s infinite normal forwards running, var(--fade, none), var(--popup, none);
	
	background-repeat: no-repeat;
	background-size: contain;
	background-image:	var(--image-seq-bgi);
	background-position-y: center;
	
	animation: var(--a-main);
	
}
@keyframes main {
	
	from {
		background-position-x: var(--image-seq-bgp-from-scaled);
	}
	
	to {
		background-position-x: var(--image-seq-bgp-to-scaled);
	}
	
}

