:root.dev {
	
	--bg-transparent-tile-color-0: rgb(220,220,220);
	--bg-transparent-tile-color-1: rgb(232,232,232);
	
}
.viewport {
	
	--border-color-lighten: rgba(216,216,216,1);
	--border-color-draken: rgba(80,80,80,1);
	--box-shadow-glow-pos-left: .6rem;
	--box-shadow-glow-pos-top: var(--box-shadow-glow-pos-left);
	
	--glow-color: rgba(0,0,0,.4);
	
	--last-h: calc(var(--last-height) * (var(--image-seq-target-raw-rect-height-0) / var(--last-raw-height)) * var(--last-correction));
	--last-w: calc(var(--last-width) * (var(--image-seq-target-raw-rect-height-0) / var(--last-raw-height)) * var(--last-correction));
	--h: calc(var(--height) * (var(--image-seq-target-raw-rect-height-0) / var(--raw-height)) * var(--correction));
	--w: calc(var(--width) * (var(--image-seq-target-raw-rect-height-0) / var(--raw-height)) * var(--correction));
	
	align-items: flex-end;
	background: transparent var(--bgi) var(--bg-pos-flex)/contain no-repeat;
	border-radius: 2rem;
	box-shadow:	0 0 0rem 1px var(--border-color-lighten),
					0 0 0rem 2px var(--border-color-draken),
					var(--box-shadow-glow-pos-left-top) 2rem .2rem var(--glow-color);
	display: flex;
	height: var(--h);
	justify-content: var(--flex-justify-content);
	width: var(--w);
	
	animation: transition calc(var(--a-current-duration) * .04) ease-in 0s 1 var(--app-anime-default-rule);
	
}
@keyframes transition {
	0% {
		height: var(--last-h);
		width: var(--last-w);
	}
	100% {
		height: var(--h);
		width: var(--w);
	}
}

.f1 .viewport { --box-shadow-glow-pos-left-top: calc(var(--box-shadow-glow-pos-left) * -1) var(--box-shadow-glow-pos-top); }
.f2 .viewport { --box-shadow-glow-pos-left-top: 0 var(--box-shadow-glow-pos-top); }
.f3 .viewport { --box-shadow-glow-pos-left-top: var(--box-shadow-glow-pos-left) var(--box-shadow-glow-pos-top); }
.f4 .viewport { --box-shadow-glow-pos-left-top: calc(var(--box-shadow-glow-pos-left) * -1) 0; }
.f5 .viewport { --box-shadow-glow-pos-left-top: 0 0; }
.f6 .viewport { --box-shadow-glow-pos-left-top: var(--box-shadow-glow-pos-left) 0; }
.f7 .viewport { --box-shadow-glow-pos-left-top: calc(var(--box-shadow-glow-pos-left) * -1) calc(var(--box-shadow-glow-pos-top) * -1); }
.f8 .viewport { --box-shadow-glow-pos-left-top: 0 calc(var(--box-shadow-glow-pos-top) * -1); }
.f9 .viewport { --box-shadow-glow-pos-left-top: var(--box-shadow-glow-pos-left) calc(var(--box-shadow-glow-pos-top) * -1); }

.author {
	
	align-items: flex-end;
	font: normal normal 1000 2rem/1 "sans-serif", "メイリオ";
	position: relative;
	text-shadow: 0 0 .5rem rgb(0,0,0);
	
}
.author.wikimedia {
	
	font-size: 1rem;
	
}

.wikimedia_icon {
	
	line-height: .5;
	
}
.wikimedia_icon::before {
	
	--size: 3vmax;
	
	background: left top/contain url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/OOjs_UI_icon_logo-wikimediaCommons.svg/20px-OOjs_UI_icon_logo-wikimediaCommons.svg.png") no-repeat transparent;
	content: "\a0";
	display: block;
	height: var(--size);
	width: var(--size);
	
}
.expat::after {
	content: "Copyright © 2011–2017 OOjs UI Team and other contributors" '\A' "Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the \"Software\"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:" '\A' "The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software." '\A' "The Software is provided \"as is\", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the Software or the use or other dealings in the Software.";
	font-size: .4rem;
	word-break: break-word;
	white-space: pre-line;
}