/* 擬似クラス関数 :is() は Chromium 88 から */
.f1 .meta, .f4 .meta, .f7 .meta {
	--vertocal-rule-angle: -60deg;
	--vertical-rule-direction: -1;
	--meta-pane-1-align-items: flex-start;
	--meta-pane-1-margin-common-value: -5vmax;
	--meta-pane-1-margin: 0 var(--meta-pane-1-margin-common-value, -5vmax) 0 0;
	
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: row-reverse;
}
.f2 .meta, .f5 .meta, .f8 .meta { justify-content: center; }
.f3 .meta, .f6 .meta, .f9 .meta { justify-content: flex-end; }
.meta {
	
	--meta-margin-vertical: 0rem;
	
	--vertocal-rule-angle: 60deg;
	--translate-y: 8%;
	--translate-y-minus: calc(var(--translate-y) * -1);
	/* tan = Math.tan(deg / (Math.PI / 180)) */
	--translate-x: calc(var(--translate-y) / /* tan = */ 1.1255751154673213 * var(--vertical-rule-direction, 1));
	--translate-x-minus: calc(var(--translate-x) * -1);
	
	--vertical-rule-background-color: rgba(255,255,255,1);
	--vertical-rule-width: 1px;
	--vertical-rule-height-scale-in: 0;
	--vertical-rule-height-scale-out: 1.3;
	
	--translate-margin-x-0: 0%;
	--translate-margin-x-1: 0%;
	
	align-items: flex-start;
	bottom: -2rem;
	display: flex;
	letter-spacing: -1px;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
	width: 100%;
	z-index: 3;
	
}

.meta .key {
	
	--position: relative;
	
}
.meta .key.in {
	
	--dur: var(--dur-in);
	--delay: var(--delay-in);
	--func: ease-in;
	
}
.meta .key.out {
	
	--dur: var(--dur-out);
	--delay: var(--delay-out);
	--func: ease-out;
	
}
.meta .key.in > .key.out > .key {
	
	--delay: var(--delay-out);
	
}
.meta .key.in.meta-pane-0 {
	
	--transform: translate(calc(var(--translate-x-minus) + var(--translate-margin-x-0)), var(--translate-y));
	--transform-to: translate(var(--translate-margin-x-0), 0%);
	
}
.meta .key.meta-pane-0 .out {
	
	--transform: translate(var(--translate-margin-x-0), 0%);
	--transform-to: translate(calc(var(--translate-x) + var(--translate-margin-x-0)), var(--translate-y-minus));
	
}
.meta .key.in.meta-pane-1 {
	
	--transform: translate(calc(var(--translate-x) + var(--translate-margin-x-1)), var(--translate-y-minus));
	--transform-to: translate(var(--translate-margin-x-1), 0%);
	
}
.meta .key.meta-pane-1 .out {
	
	--transform: translate(var(--translate-margin-x-1), 0%);
	--transform-to: translate(calc(var(--translate-x-minus) + var(--translate-margin-x-1)), var(--translate-y));
	
}
.meta .key:not(.in):not(.out) {
	
	--font: normal normal 1000 1.5rem/1 "Arial", "メイリオ", sans-serif;
	--height: 7rem;
	
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	
}
.meta .meta-pane-0 .key:not(.in):not(.out) {

	--margin: var(--meta-margin-vertical) 0 0 0;
	
	justify-content: flex-start;
	
}
.meta .file-title {
	
	font-size: 3.8rem;
	text-shadow: 0 0 1rem rgba(0,0,0,1), 0 0 3rem rgba(0,0,0,.75), 0 3px 0 rgba(0,0,0,1);
	z-index: 3;
	
}
.meta .vertical-rule {
	
	--dur: var(--dur-vr-in);
	--delay: var(--delay-vr-in);
	
	--transform: scale(var(--vertical-rule-height-scale-in));
	--transform-to: scale(var(--vertical-rule-height-scale-out));
	
}
.meta .vertical-rule .out {
	
	--dur: var(--dur-vr-out);
	--delay: var(--delay-vr-out);
	
	--transform: scale(var(--vertical-rule-height-scale-out));
	--transform-to: scale(var(--vertical-rule-height-scale-in));
	--opacity-to: 1;
	
}
.meta .vertical-rule .key:not(.in):not(.out) {
	
	--transform: rotate(var(--vertocal-rule-angle));
	--transform-to: rotate(var(--vertocal-rule-angle));
	
	--background-color: var(--vertical-rule-background-color);
	--width: var(--vertical-rule-width);
	
}
.meta .vertical-rule .key:not(.in):not(.out)::before { content: "\a0"; }
.meta .meta-pane-1 .key:not(.in):not(.out) {
	
	--margin: var(--meta-pane-1-margin, 0 0 0 var(--meta-pane-1-margin-common-value, -5vmax));
	--padding: 0 0 1rem 0;
	--text-shadow: 0 0 .5rem rgba(0,0,0,1), 0 0 1rem rgba(0,0,0,.75), 0 1px 0 rgba(0,0,0,1);
	
	align-items: var(--meta-pane-1-align-items, flex-end);
	box-sizing: border-box;
	justify-content: flex-end;
	
}
.meta .file-author {
	
	padding-bottom: .3rem;
	z-index: 3;
	
}
.meta .file-date {
	
	z-index: 2;
	
}