[data-notation]:not([data-notation=""]).note.in {
	
	--func: cubic-bezier(1,-1.11,0,2.43);
	--height: var(--size);
	--size: 7vmax;
	--pos: calc(var(--size) / -3);
	--position: absolute;
	--transform-scale: 0, 0;
	--transform-scale-to: 1, 1;
	--transform: rotate(0deg) scale(var(--transform-scale));
	--transform-to: rotate(var(--transform-rotate)) scale(var(--transform-scale-to));
	--transform-origin: center;
	--top: var(--pos);
	--width: var(--size);
	--z-index: 1;
	
}
.f2 .note.in, .f3 .note.in, .f5 .note.in, .f6 .note.in, .f8 .note.in, .f9 .note.in {
	--left: var(--pos);
	--right: initial;
	--transform-rotate: -10deg;
}
.f1 .note.in, .f4 .note.in, .f7 .note.in {
	--left: initial;
	--right: var(--pos);
	--transform-rotate: 5deg;
}
[data-notation]:not([data-notation=""]).note .out {
	
	--height: 100%;
	--left: initial;
	--right: initial;
	--top: initial;
	--transform-scale: 1, 1;
	--transform-scale-to: 0, 0;
	--transform: rotate(var(--transform-rotate)) scale(var(--transform-scale));
	--transform-to: rotate(var(--transform-rotate)) scale(var(--transform-scale-to));
	--transform-origin: center;
	--width: 100%;

}
[data-notation]:not([data-notation=""]).note .primary {
	
	--background: linear-gradient(var(--bg-color-0),var(--bg-color-1) 100%);
	--bg-color-0: rgba(255,120,120,1);
	--bg-color-1: rgba(255,255,255,0);
	--border-radius: 100%;
	--height: 100%;
	--left: initial;
	--right: initial;
	--top: initial;
	--transform: initial;
	--transform-to: initial;
	--width: 100%;
	
	align-items: center;
	display: flex;
	justify-content: center;
	
}
[data-notation]:not([data-notation=""]).note .primary::before {
	content: attr(data-notation);
	font-family: "Arial Black";
	font-size: 4vmax;
	letter-spacing: -4px;
	text-shadow: .275vmax .275vmax 0 rgba(0,0,0,1);
}
[data-notation="表示価格より半額"].note .primary::before {
	font-family: "源ノ角ゴシック";
	font-size: 2vmax;
	font-weight: 1000;
	letter-spacing: -4px;
	text-shadow: .275vmax .275vmax 0 rgba(0,0,0,1);
}