[data-note]:not([data-note=""]) .note.in {
	
	--func: cubic-bezier(1,-1.11,0,2.43);
	--height: var(--size);
	--size: 7vmax;
	--pos: calc(var(--size) / -3);
	--position: absolute;
	--transform-scale: 0, 0;
	--transform-scale-to: 1, 1;
	--transform: rotate(0deg) scale(var(--transform-scale));
	--transform-to: rotate(-10deg) scale(var(--transform-scale-to));
	--transform-origin: center;
	--top: var(--pos);
	--width: var(--size);
	--z-index: 1;
	
}
.f2 .note, .f3 .note, .f5 .note, .f6 .note, .f8 .note, .f9 .note {
	--left: var(--pos);
	--right: unset;
}
.f1 .note, .f4 .note, .f7 .note {
	--left: unset;
	--right: var(--pos);
}
[data-note]:not([data-note=""]) .note .out {
	
	--height: 100%;
	--left: initial;
	--right: initial;
	--top: initial;
	--transform-scale: 1, 1;
	--transform-scale-to: 0, 0;
	--transform: rotate(-10deg) scale(var(--transform-scale));
	--transform-to: rotate(-10deg) scale(var(--transform-scale-to));
	--transform-origin: center;
	--width: 100%;

}
[data-note]:not([data-note=""]) .note .primary {
	
	--background: linear-gradient(var(--bg-color-0),var(--bg-color-1) 100%);
	--bg-color-0: rgba(255,120,120,1);
	--bg-color-1: rgba(255,255,255,0);
	--border-radius: 100%;
	--height: 100%;
	--transform: initial;
	--transform-to: initial;
	--width: 100%;
	
	align-items: center;
	display: flex;
	justify-content: center;
	
}
[data-note~="latest"] .note .primary::before {
	content: "NEW";
	font-family: "Arial Black";
	font-size: 4vmax;
	letter-spacing: -4px;
	text-shadow: .275vmax .275vmax 0 rgba(0,0,0,1);
}
/*
[data-note] .note {
	
	--bg-color-0: rgba(255,120,120,1);
	--bg-color-1: rgba(255,255,255,0);
	--size: 4.5rem;
	--delay: calc(var(--a-current-duration) * 1 / 10);
	
	align-items: center;
	background: linear-gradient(var(--bg-color-0),var(--bg-color-1) 100%);
	border-radius: 100%;
	display: flex;
	height: var(--size);
	justify-content: center;
	left: var(--note-left);
	position: absolute;
	right: var(--note-right);
	top: 0;
	transform: var(--note-transform-from);
	visibility: visible;
	width: var(--size);
	will-change: contents;
	z-index: 1;
	
	animation: note calc((var(--a-current-duration) - var(--delay)) / 2) ease var(--delay) 1 alternate forwards running;
	
}
.f2 .note, .f3 .note, .f5 .note, .f6 .note, .f8 .note, .f9 .note {
	--note-left: 0;
	--note-right: unset;
	--note-transform-from: translate(-25%,-25%) rotate(0deg) scale(0,0);
	--note-transform-to: translate(-25%,-25%) rotate(-10deg) scale(1,1);
}
.f1 .note, .f4 .note, .f7 .note {
	--note-left: unset;
	--note-right: 0;
	--note-transform-from: translate(25%,-25%) rotate(0deg) scale(0,0);
	--note-transform-to: translate(25%,-25%) rotate(-10deg) scale(1,1);
}
@keyframes note {
	0% {
		transform: var(--note-transform-from);
	}
	5% {
		transform: var(--note-transform-to);
	}
	100% {
		transform: var(--note-transform-to);
	}
}
[data-note~="latest"] .note::before {
	content: "NEW";
	font-family: "Arial Black";
	font-size: 2.5rem;
	letter-spacing: -4px;
	text-shadow: .2rem .2rem 0 rgba(0,0,0,1);
}
*/